iOS/QuartzContent/QuartzContent.swift -diff -merge
iOS/QuartzContent/QuartzContent.swift linguist-generated
Web/content.ts -diff -merge
Web/content.ts linguist-generated
Web/dist/* -diff -merge
Web/dist/* linguist-generated

Schemas/*.json -diff -merge
Schemas/*.json linguist-generated
